html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.myheader {
  text-align: left;
  color: blue;
  font-size: 1.5rem;
  font-family: monospace;
}

.silly-paragraph {
  display: inline;
  color: green;
  font-size: 1.8rem;
}

.std-paragraph {
  display: block;
  text-align: justify;
  color: black;
  font-size: 1.3rem;
  font-family: serif;
}

#secretform label {
  color: blue;
  font-size: 1.6rem;
  font-family: monospace;
}

#logo img {
  float:left;
  padding-right: 20px;
  height: 10%;
  width: 10%;
}

nav {

}
